body {
    
    background-color: black;
    background-image: url('smoke.jpg');
    background-size: 40px;

}

.row1 {
    height: 90%;
    padding: 0px;
    margin-left: 0%;
    margin-right: 0%;
}

.nav-link {
    border-color: gold;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: whitesmoke;
    font-family: 'Playball', cursive;
}

.nav-link:hover {
    background-color: gold;
    opacity: .8;
}

.dropdown-menu {
    background-color: transparent;
}

.dropdown-item {
    border-color: gold;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: whitesmoke;
    margin: 5px 0px 5px;
    padding-right: 0%;
}

.row2{
    padding: 20px;
}

h1 {
    color: gold;
    font-size: 48pt;
    font-family: 'Playball', cursive;
}

.pic {
    height: 700px;
    padding-left: 0%;
}

.content {
    border-color: gold;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: whitesmoke;
    width: 100%;
    margin-right: 0%;
    padding: 20px;
}

#name {
    width: 100%;
    background-color: transparent;
    color: whitesmoke;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
}

#email {
    width: 100%;
    background-color: transparent;
    color: whitesmoke;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;

}

#subject {
    width: 100%;
    background-color: transparent;
    color: whitesmoke;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    height: 200px;

}

.label1 {
}

.label {
    margin-top: 40px;
}

#submit {
    border-color: gold;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: whitesmoke;
    background-color: transparent;
}

#submit:hover {
    background-color: gold;
}

.banner {
    height: 50px;
    width: 240px;
    background-color: rgba(128, 128, 128, 0.52);
    color: whitesmoke;
    position: relative;
    text-align: center;
    padding: 5px;
    top: -60px;
    left: -20px;
    border-color: gold;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-top: 10px;
}

h2 {
    font-family: 'Playball', cursive;
    color: whitesmoke;
}

.container1 {
    height: 220px;
    width: 220px;
    margin: 10px;
    position: relative;
    z-index: 1;
}

.container2 {
    height: 220px;
    width: 220px;
    margin: 10px;
    position: relative;
    right: -300px;
    top: -260px;
}